* {
  background-color: rgb(223, 220, 216);
}
.admin_sub {
  position: relative;
}
.logout {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: 7rem;
  height: 2.2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;
  background-color: rgb(231, 10, 10);
  color: white;
}
.logout:hover {
  cursor: pointer;
}
.admin_page {
  height: 20rem;
}

.project_button {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  border: none;
  background-color: rgb(88, 88, 194);
  color: white;
}
.project_button:hover {
  cursor: pointer;
}
.project_list {
  border: solid 5px var(--text-color);
  padding: 1rem;
}

.project_name {
  background-color: rgb(86, 241, 86);
  margin: 0.5rem 0;
  margin-left: 1rem;
  width: 30%;
  padding: 1rem;
  border-radius: 2px;
  color: white;
}
